body{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0px;
  background:black;
}

ul{
  background-color:#B32114;
  margin: 0px;
  padding-right: : 100%;
  padding-bottom: 0px;
  }
li.inicio{
    margin-left: 16%;
  }

li{
display: inline-block;
padding: 20px;
list-style: none;
margin-left: 5px;
}

a{
  color: white;
  text-decoration:underline;
  padding: 10px;
  font-weight: bold;
}

#contenedor{
  display: inline-block;
  margin-left: 21%;
}

.caja-foto{
  display: inline-block;
  margin-top: 40px;
  margin-left:8px;
  position: relative;
  border:solid 7px;
  border-color: grey;
}

img{
    width: 200px;
    height: 180px;
    filter: grayscale(100%);
}

span{
  position: absolute;
  color: rgba(255, 251, 250, 0.84);
   float: right;
   font-size: 28px;
   font-weight: bold;
   left: 11px;
   cursor: pointer;
  }

  /*.caja-foto:first-child{
    margin-left: 21%;
  }*/

.botones{
    text-align: center;
  }

.noticias{
    margin-left: 21%;
  }

.noticias div{
  display: inline-block;
  color: white;
  width: 360px;
  margin: 10px 15px;
  float: left;
  text-align: justify;
}

.botones .link{
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 2px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: auto;
    height: 33px;
    height: 1px;
    background-color: #B32114;
  }
  
.etiqueta{
    color: white;
    text-decoration: none;
}
